<html lang="en">
    <head>
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
        <meta charset="UTF-8">
    </head>
    <body>
        <p>Location Server: 192.168.0.10</p>
        <p>Finish Time: {TIME}</p>
        <p>This task is scheduled to run at 1:00 AM first day of each month</p>
    </body>
</html>