<html lang="en">
    <head>
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
        <meta charset="UTF-8">
    </head>
    <body>
        <p>Claim No: {CL_NO}</p>
        <p style="color:red">Cancel Reason: {CANCEL_REASON}</p>
    </body>
</html>