<html lang="en">
    <head>
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
        <meta charset="UTF-8">
    </head>
    <body>
        <p>Location Server: 192.168.0.10</p>
        <p>Time: {TIME}</p>
        <h3 style="color:green">Update Claim No, Presented Amount and Provider to Mantis FUBON</h3>
        <p>Result: <b style="color:green">{SUCCESS}</b><b style="color:red">{FAILED}</b></p>
        {errors}
            <p>Claim No {CL_NO}: Barcode {BARCODE}</p>
        {/errors}
    </body>
</html>